@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: $black;
    line-height: 1.25;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: $phone-v;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
