@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*:before,
*:after {
    box-sizing: border-box;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: $black;
    line-height: 1.25;
    &.has-overlay {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($black, 0.5);
        }
    }
}
.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: $phone-v;
}
