.form {
    transition: background-color 0.3s ease;

    &--inner {
        position: relative;
        padding: 30px 40px 30px 30px;

        @media (max-width: $phone-v) {
            padding: 30px 40px 25px 25px;
        }

        &.is-toggled {
            padding-right: 30px;

            @media (max-width: $phone-v) {
                padding: 25px;
            }
        }
    }

    &.is-completed {
        background-color: rgba($primary, 0.1);
    }

    &__fieldset {
        border: 1px solid rgba($black, 0.1);
        padding: 10px 30px 30px;

        @media (max-width: $phone-v) {
            padding: 10px 25px 25px;
        }
    }

    &__legend {
        display: inline-block;
        font-size: 26px;
        padding: 0 20px;
        text-align: center;
        margin-bottom: 20px;
        color: $black;

        @media (max-width: $phone-v) {
            font-size: 20px;
        }
    }

    &__label {
        font-size: 15px;
        display: block;
        width: 100%;
        margin-bottom: 2px;
        color: rgba($black, 0.7);
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        &-item {
            &:not(:first-child) {
                padding-top: 10px;
            }
        }
    }

    &__textarea {
        width: 100%;
        background-color: transparent;
        border: 1px solid;
    }

    &__input {
        display: block;
        font-size: 16px;
        border: 1px solid rgba($black, 0.1);
        border-radius: 2px;
        background-color: $white;
        color: $black;
        width: 100%;
        transition: border-color 0.3s ease;
        -webkit-appearance: none;
        height: 100%;
        line-height: 1.2;
        padding: 8px 12px;
        border-radius: 4px;

        &::placeholder {
            color: rgba($black, 0.3);
        }

        &:hover {
            border-color: rgba($black, 0.3);
        }
    }

    &__asterisk {
        color: $danger;
    }
}

.custom-checkbox {
    display: inline-block;
    cursor: pointer;

    &__text {
        position: relative;
        font-size: 16px;
        padding-left: 1.75em;
        display: inline-block;

        &:before,
        &:after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 1.125em;
            height: 1.125em;
            transition: 0.3s ease;
        }

        &:before {
            top: 1px;
            left: 0;
            border-radius: 4px;
            border: 2px solid rgba($black, 0.3);
            background-color: $white;
        }

        &:after {
            background-image: url(../images/check.svg);
            background-repeat: no-repeat;
            transform: scale(0, 0);
            width: 0.9375em;
            height: 0.9375em;
            background-size: contain;
            top: 0.1875em;
            left: 1px;
        }

        &-title {
            font-size: 1em;
            color: $primary;
            display: block;
            margin: 0;
            text-decoration: line-through;
            text-decoration-color: transparent;
            transition: text-decoration-color 0.3s ease;
            user-select: none;
        }
    }

    &:hover &__text {
        &:before {
            border-color: $primary;
        }
    }

    &__input {
        display: none;
    }

    &__input:checked ~ &__text {
        &:before {
            border-color: $primary;
        }

        &:after {
            transform: scale(1, 1);
        }
    }

    &__input:checked ~ &__text &__text-title {
        text-decoration-color: $black;
    }
}
