.todo-item {
    display: grid;
    grid-template-areas:
        "name name"
        "description description"
        "controls date";
    grid-template-columns: 200px auto;
    margin-bottom: 1em;
    border: 1px solid;

    &--complete {
        & > *:not(time) {
            text-decoration: line-through;
        }
    }

    &__name {
        grid-area: name;
        margin: 0;
        font-weight: normal;
    }

    &__description {
        margin: 0;
        grid-area: description;
        font-weight: normal;
    }

    &__date {
        grid-area: date;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
    }

    &__control {
        &-list {
            grid-area: controls;
            display: flex;
            justify-content: space-evenly;
        }

        &-item {
            font-size: 1.5em;
        }
        // margin: 0 0 0 auto;
    }
}
