.todo-item {
    display: grid;
    grid-template-areas:
        "name date controls"
        "description date controls";
    grid-template-columns: repeat(3, auto);
    margin-bottom: 1em;
    border: 1px solid;

    &--complete {
        background-color: lightgray;
    }

    &__name {
        grid-area: name;
        margin: 0;
        font-weight: normal;
    }

    &__description {
        margin: 0;
        grid-area: description;
        font-weight: normal;
    }

    &__date {
        grid-area: date;
        align-self: center;
        justify-content: center;
    }

    &__control {
        &-list {
            grid-area: controls;
            align-self: center;
            display: flex;
            justify-content: space-evenly;
        }

        &-item {
            font-size: 1.5em;
        }
        // margin: 0 0 0 auto;
    }
}
